[openldap]
192.168.2.60

[openvpn]
192.168.2.60

[all:vars]
#发布机IP
delegate_ip=192.168.2.60

# ssh 配置
server_password='123456'
ansible_ssh_port=22
ansible_ssh_user=root
base_dir="{{playbook_dir}}"
ansible_ssh_private_key_file=/root/.ssh/id_rsa
docker_basedir="/bmsk"

install_path="/data"
push_ssh_key=True
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'
ansible_ssh_pipelining=True

#ntp server
ntp_server=ntp1.aliyun.com

# hostname
region=bj
organization=test

#docker
#docker的家目录
docker_graph=/var/lib/docker
#docker默认使用的ip池
docker_bip=11.111.0.1/24
#docker使用的镜像仓库地址
registry_mirrors=https://docker.mirrors.ustc.edu.cn
#docker-compose的地址池
default_address_pools=11.111.100.1/20
#默认添加的伪装地址,用于节点间通信
NET_MASQUERADE=11.111.0.0/16

#users
#安装rke使用的普通用户
customuser=ae
#安装rke使用的普通用户密码
userpassword="oejnD4sR5dwvkVxd"

#ldap
LDAP_ORGANISATION="Fthl Inc."
LDAP_DOMAIN=fthl.com
LDAP_ADMIN_PASSWORD=123456
LDAP_BACKEND=mdb

#openvpn-ldap
openldap_host={{groups['openldap'][0]}}
OVPN_PORT=1194
OVPN_PROTOCOL=tcp
#NAT OR ROUTE
#true is NAT
#false is ROUTE
OVPN_NAT=false
#Set OVPN_SERVER_CN as the access address
#such as domain or ip
OVPN_SERVER_CN=openvpn.fthl.com
OVPN_NETWORK="11.50.0.0 255.255.0.0"
OVPN_ROUTES="192.168.216.0 255.255.255.0"
LDAP_URI=ldap://{{ openldap_host }}
LDAP_BASE_DN="ou=users,dc=fthl,dc=com"
LDAP_BIND_USER_DN="cn=admin,dc=fthl,dc=com"
LDAP_BIND_USER_PASS={{ LDAP_ADMIN_PASSWORD }}
LDAP_FILTER="(objectClass=inetOrgPerson)"
OVPN_MANAGEMENT_ENABLE="true"
#OVPN_MANAGEMENT_TYPE="OVPN_MANAGEMENT_NOAUTH|OVPN_MANAGEMENT_PASSWORD"
#if OVPN_MANAGEMENT_TYPE="OVPN_MANAGEMENT_NOAUTH" then set OVPN_MANAGEMENT_TYPE_VALUE="true"
#if OVPN_MANAGEMENT_TYPE="OVPN_MANAGEMENT_PASSWORD" then set OVPN_MANAGEMENT_TYPE_VALUE="passwd"
OVPN_MANAGEMENT_TYPE="OVPN_MANAGEMENT_NOAUTH"
OVPN_MANAGEMENT_TYPE_VALUE="true"

#openvpn-monitor
OPENVPNMONITOR_DEFAULT_DATETIMEFORMAT="%%d/%%m/%%Y"
OPENVPNMONITOR_DEFAULT_LATITUDE=-37
OPENVPNMONITOR_DEFAULT_LONGITUDE=144
OPENVPNMONITOR_DEFAULT_MAPS=Ture
OPENVPNMONITOR_DEFAULT_SITE=prod
OPENVPNMONITOR_SITES_1_SHOWDISCONNECT=True
OPENVPNMONITOR_SITES_1_ALIAS=TCP
OPENVPNMONITOR_SITES_1_HOST={{groups['openldap'][0]}}
OPENVPNMONITOR_SITES_1_NAME=openvpn_monitor
OPENVPNMONITOR_SITES_1_PORT=5555
OPENVPNMONITOR_PORT=19080
