    docker run -d --restart=always --name {{service_name}} \
        --ulimit nofile=65536:65536 \
        -e OPENVPNMONITOR_DEFAULT_DATETIMEFORMAT="{{ OPENVPNMONITOR_DEFAULT_DATETIMEFORMAT }}" \
        -e OPENVPNMONITOR_DEFAULT_LATITUDE=-"{{ OPENVPNMONITOR_DEFAULT_LATITUDE }}" \
        -e OPENVPNMONITOR_DEFAULT_LONGITUDE="{{ OPENVPNMONITOR_DEFAULT_LONGITUDE }}" \
        -e OPENVPNMONITOR_DEFAULT_MAPS="{{ OPENVPNMONITOR_DEFAULT_MAPS }}" \
        -e OPENVPNMONITOR_DEFAULT_SITE="{{ OPENVPNMONITOR_DEFAULT_SITE }}" \
        -e OPENVPNMONITOR_SITES_0_SHOWDISCONNECT="{{ OPENVPNMONITOR_SITES_0_SHOWDISCONNECT }}" \
        -e OPENVPNMONITOR_SITES_0_ALIAS="{{ OPENVPNMONITOR_SITES_0_ALIAS }}" \
        -e OPENVPNMONITOR_SITES_0_HOST="{{ OPENVPNMONITOR_SITES_0_HOST }}" \
        -e OPENVPNMONITOR_SITES_0_NAME="{{ OPENVPNMONITOR_SITES_0_NAME }}" \
        -e OPENVPNMONITOR_SITES_0_PORT="{{ OPENVPNMONITOR_SITES_0_PORT }}" \
{% if OVPN_MANAGEMENT_NOAUTH == "true" %}
        -e OPENVPNMONITOR_SITES_0_PASSWORD="{{ OVPN_MANAGEMENT_PASSWORD }}" \
{% endif %}
        -p "127.0.0.1:{{ OPENVPNMONITOR_PORT }}":80 \
        -v "/etc/localtime":/etc/localtime:ro \
        {{openvpn_monitor_image}}
