{
  "bip": "{{docker_bip}}",
  "default-address-pools":
  [
    {"base":"{{default_address_pools}}","size":24}
  ],
  "bridge": "",
  "debug": false,
  "default-runtime": "runc",
  "iptables": false,
  "ip-forward": true,
  "ip-masq": false,
  "iptables": false,
  "ipv6": false,
  "labels": [],
  "live-restore": true,
  "log-driver": "json-file",
  "log-level": "warn",
  "log-opts": {
    "tag": "{{ '{{' }}.ImageName{{ '}}' }}|{{ '{{' }}.Name{{ '}}' }}",
    "max-file": "10",
    "max-size": "200m"
  },
  "registry-mirrors": [
    "{{registry_mirrors}}"
  ],
  "insecure-registries": [
    "{{image_registryDomain}}:{{image_registryPort}}"
  ],
  "runtimes": {},
  "selinux-enabled": false,
  "data-root": "{{docker_graph}}",
  "exec-opts": [
    "native.cgroupdriver=systemd"
  ],
  "storage-driver": "overlay2",
  "storage-opts": [
    "overlay2.override_kernel_check=true"
  ]
}
